{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>American Baptist Church - Registration Confirmed</title>
{% endblock %}
{% block content %}
<section class="s-hero" data-parallax="scroll" data-image-src="{% static 'images/hero-bg-3000.jpg' %}" data-natural-width=3000 data-natural-height=2000 data-position-y=center>
    <div class="hero-left-bar"></div>
    <div class="row hero-content">
        <div class="column large-full hero-content__text">
            <h1>Registration Confirmed</h1>
            <p style="color: wheat;">Event registration has been confirmed.</p>
            <p style="color: wheat;">Participant has been registered for the event.</p>
            <div class="hero-content__buttons">
                <a href="{% url 'core:home' %}" class="btn btn--stroke">Back to Home</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
