{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>American Baptist Church - {{ event.event.name }}</title>
{% endblock %}
{% block content %}
<section class="page-header page-header--events">
    <div class="gradient-overlay"></div>
    <div class="row page-header__content">
        <div class="column">
            <h1>{{ event.event.name }}</h1>
        </div>
    </div>
</section>
<section class="page-content">
    <div class="row">
        <div class="column">
            {% if event.event.image %}
                <div class="media-wrap event-thumb">
                    <img src="{{ event.event.image.url }}" srcset="{{ event.event.image.url }} 2000w, {{ event.event.image.url }} 1000w, {{ event.event.image.url }} 500w" sizes="(max-width: 2000px) 100vw, 2000px" alt="">
                </div>
            {% endif %}
            <div class="event-content">
                {% for paragraph in event.event.get_paragraphs %}
                {% if forloop.counter0 == 0 %}
                <p class="lead">{{ paragraph }}</p>
                {% else %}
                <p>{{ paragraph }}</p>
                {% endif %}
                {% endfor %}
                <p class="drop-cap">{{ event.description }}</p>
                <ul class="event-meta">
                    <li><strong>Demographic</strong>{% if event.event.demographic %}{{ event.event.demographic.name }}{% else %}All{% endif %}</li>
                    <li><strong>Date</strong>
                        {{ event.date|date:"l, F j, Y" }}
                    </li>
                    <li><strong>Time</strong>
                        {{ event.event.start_time|time:"g:iA" }}{% if event.event.end_time %} - {{ event.event.end_time|time:"g:iA" }}{% endif %}
                    </li>
                    <li><strong>Place</strong>{{ event.event.location }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
