{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>RCCG HHA - Event Registration</title>
{% endblock %}
{% block content %}
<section class="s-hero" data-parallax="scroll" data-image-src="{% static 'images/hero-bg-3000.jpg' %}" data-natural-width=3000 data-natural-height=2000 data-position-y=center>
    <div class="hero-left-bar"></div>
    <div class="row hero-content">
        <div class="column large-full hero-content__text">
            <h1>Event Registration</h1>
            <p style="color: wheat;">Dear {{ name }}, you registered for the {{ event }} programme. Here is your QR Code: </p>
            <a href="{protocol}://{domain}{{ qr_code }}"><img src="{protocol}://{domain}{{ qr_code }}" alt="QR Code"></a>
            <p style="color: wheat;">The QR Code will be needed on the day of the event. You can either print or store it as an image.</p>
            <p style="color: wheat;">Thank you,<br>HHA Team</p>
        </div>
    </div>
</section>
{% endblock %}
