{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>RCCG HHA - Event Registration</title>
{% endblock %}
{% block content %}
<section class="s-hero" data-parallax="scroll" data-image-src="{% static 'images/hero-bg-3000.jpg' %}" data-natural-width=3000 data-natural-height=2000 data-position-y=center>
    <div class="hero-left-bar"></div>
    <div class="row hero-content">
        <div class="column large-full hero-content__text">
            <h1>Event Registration</h1>
            <p style="color: wheat;">Name: {{ name }}</p>
            <p style="color: wheat;">Phone Number: {{ phone_number }}</p>
            <p style="color: wheat;">Event: {{ event }}</p>
            <p style="color: wheat;">
                Proof: <img src="{{protocol}}://{{ domain }}/{{ proof.url }}" alt="">
            </p>
            {% if comment %}
            <p style="color: wheat;">Comment & Question: {{ comment }}</p>
            {% endif %}
            <p style="color: wheat;">{{ name }} registered for the {{ event }} programme. Please click the button to confirm the registration</p>
            <div class="hero-content__buttons">
                <a href="{{ protocol }}://{{ domain }}{% url 'events:confirm' unique_uuid %}">Confirm Registration</a></p>
            </div>
            <p style="color: wheat;">Thank you,<br>HHA Team</p>
        </div>
    </div>
</section>
{% endblock %}
