{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>American Baptist Church - Connect</title>
{% endblock %}
{% block content %}
<section class="page-header page-header--connect">
    <div class="gradient-overlay"></div>
    <div class="row page-header__content">
        <div class="column">
            <h1>Connect</h1>
        </div>
    </div>
</section>
<section class="page-content">
    <div class="row">
        <p class="lead drop-cap">
            Welcome to RCCG Hope Hall Assembly! We are dedicated to providing a warm and welcoming environment for everyone. Our mission is to spread love, hope, and faith among our members.
            Through our various activities and events, we aim to strengthen our bond as a church family and contribute positively to the local community.
            Join us on this spiritual journey as we grow together and support one another in faith.
        </p>
        <p>
            At HHA, we value the principles of kindness, compassion, and service to others. Our congregation comes from diverse backgrounds, united by a common belief in the teachings of Jesus Christ.
            We invite you to attend our worship services, engage in meaningful discussions, and participate in events that foster spiritual growth and personal development.
            Together, we strive to make a positive impact on the lives of individuals and families, sharing the message of love and salvation.
        </p>
        <br>
        <h2>Explore Our Connect Groups</h2>
        <div class="row wide block-large-1-2 block-900-full block-list">
            {% for demographic in demographics %}
            <div class="column block-list__item">
                <h3 class="block-list__item-title">
                    <a href="{% url 'demographic:single' slug=demographic.slug %}" title="{{ demographic.name }}">{{ demographic.name }}</a>
                </h3>
                <p>
                    {{ demographic.description|truncatechars:250 }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
