{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>American Baptist Church - Online Giving</title>
{% endblock %}
{% block content %}
<section class="page-header page-header--giving">
    <div class="gradient-overlay"></div>
    <div class="row page-header__content">
        <div class="column">
            <h1>Online Giving</h1>
        </div>
    </div>
</section>
<section class="page-content">
    <div class="row">
        <div class="column">
            <p class="lead drop-cap">
                Your Generous Givings are Heartfelt Blessings. Thank you for your commitment to giving to God through your generous givings. Your contributions are a sacred and essential part of our faith.
            </p>
            <div class="row">
                <div class="column large-6 tab-full">
                    <h3>Online Giving Details</h3>
                    <p>
                        You can make a gift through bank transfer using the following account details:
                    </p>
                    <p>
                        Reference: <strong>General Donation</strong><br>
                        Bank: Zenith Bank<br>
                        Account Name: Community Life Fellowship<br>
                        Account Number: 1234567890<br>
                    </p>
                    <p>
                        Reference: <strong>Special Offering</strong><br>
                        Bank: First Bank of Nigeria<br>
                        Account Name: Community Life Fellowship<br>
                        Account Number: 0987654321<br>
                    </p>
                </div>
                <div class="column large-6 tab-full">
                    <img src="{% static 'images/logo.svg' %}" alt="RCCG Logo">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
