{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>American Baptist Church - Page Not Found</title>
{% endblock %}

{% block content %}
<section class="s-hero" data-parallax="scroll" data-image-src="{% static 'images/hero-bg-3000.jpg' %}" data-natural-width="3000" data-natural-height="2000" data-position-y="center">
    <div class="hero-left-bar"></div>
    <div class="row hero-content">
        <div class="column large-full hero-content__text">
            <h1>Page Not Found</h1>
            <p style="color: wheat;">The requested page could not be found.</p>
        </div>
    </div>
</section>
{% endblock %}
