{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="American Baptist Church">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Welcome to American Baptist Church. Join us in worship and fellowship as we strive to spread the love of Christ in our community. Discover our vibrant church family and get involved in our various ministries and events." />
    <meta property="og:url" content="https://hha.pythonanywhere.com">
    <meta property="og:image" content="{% static 'images/logo.svg' %}">
    <meta property="og:image:type" content="image/svg+xml">
    <meta name="keywords" content="American Baptist Church, Christian church, worship, fellowship, community, ministries, events, faith, spirituality" />
    {% block title %}
    {% endblock %}
    <meta name="description" content="Experience spirituality and community at American Baptist Church. Join us in worship, service, and growth.">
    <meta name="author" content="American Baptist Church Media">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/base.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <script src="{% static 'js/modernizr.js' %}"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/logo.svg' %}">
    <link rel="icon" type="image/svg+xml" sizes="any" href="{% static 'images/logo.svg' %}">
</head>

<body id="top">
    <div id="preloder">
        <div id="loder" class="ddots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <header class="s-header">
        <div class="header-logo">
            <a class="site-logo" href="{% url 'core:home' %}">
                <img src="{% static 'images/logo.svg' %}" alt="RCCG Logo">
            </a>
        </div>
        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li class="current"><a href="{% url 'core:home' %}" title="Home">Home</a></li>
                <li><a href="{% url 'core:about' %}" title="About Us">About Us</a></li>
                <li><a href="{% url 'ministries:home' %}" title="Departments">Departments</a></li>
                <li><a href="{% url 'demographic:home' %}" title="Groups">Connect Groups</a></li>
                <li><a href="{% url 'events:home' %}" title="Upcoming Events">Upcoming Events</a></li>
                <li><a href="{% url 'core:giving' %}" title="Online Giving">Online Giving</a></li>
                <li><a href="{% url 'core:contact' %}" title="Contact Us">Contact Us</a></li>
            </ul>
        </nav>
        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>
    </header>
    {% block content %}
    {% endblock %}
    <section class="s-social">
        <div class="row social-content">
            <div class="column">
                <ul class="social-list">
                    <li class="social-list__item">
                        <a href="#0" title="Follow us on Facebook">
                            <span class="social-list__icon social-list__icon--facebook"></span>
                            <span class="social-list__text">Facebook</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="Follow us on Twitter">
                            <span class="social-list__icon social-list__icon--twitter"></span>
                            <span class="social-list__text">Twitter</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="Follow us on Instagram">
                            <span class="social-list__icon social-list__icon--instagram"></span>
                            <span class="social-list__text">Instagram</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="Contact us via Email">
                            <span class="social-list__icon social-list__icon--email"></span>
                            <span class="social-list__text">Email</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <footer class="s-footer">
        <div class="row footer-top">
            <div class="column large-4 medium-5 tab-full">
                <div class="footer-logo">
                    <a class="site-footer-logo" href="{% url 'core:home' %}">
                        <img src="{% static 'images/logo.svg' %}" alt="RCCG Logo">
                    </a>
                </div>
                <p>
                    Welcome to American Baptist Church! Join us in experiencing spirituality, community,
                    and growth. Our mission is to spread love and positivity through worship
                    and service. Connect with us and be a part of our vibrant community.
                </p>
            </div>
            <div class="column large-half tab-full">
                <div class="row">
                    <div class="column large-7 medium-full">
                        <h4 class="h6">Our Location</h4>
                        <p>
                            45 Harmony Road<br>
                            Ikeja, Lagos <br>
                            101233, Nigeria
                        </p>
                        <p>
                            <a href="https://goo.gl/maps/UQotNwWwVoRy3TXJ7" target="_blank" class="btn btn--footer">Get Directions</a>
                        </p>
                    </div>
                    <div class="column large-5 medium-full">
                        <h4 class="h6">Quick Links</h4>
                        <ul class="footer-list">
                            <li><a href="{% url 'core:home' %}">Home</a></li>
                            <li><a href="{% url 'core:about' %}">About Us</a></li>
                            <li><a href="{% url 'ministries:home' %}">Departments</a></li>
                            <li><a href="{% url 'demographic:home' %}">Connect Groups</a></li>
                            <li><a href="{% url 'events:all_events' %}">All Events</a></li>
                            <li><a href="{% url 'core:giving' %}" title="Online Giving">Online Giving</a></li>
                            <li><a href="{% url 'core:contact' %}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-bottom">
            <div class="column ss-copyright">
                <span>© {% now "Y" %} American Baptist Church. All rights reserved.</span>
                <span>Design by Retr0</span>
            </div>
        </div>
        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M12 0l8 9h-6v15h-4v-15h-6z" />
                </svg>
            </a>
        </div>
    </footer>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
